body
{
  background-image: url("images/page_background.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 1135px;
}

#banner
{
  padding: 0;
  height: 210px;
  width: 1135px;
}

#banner img
{
  padding: 0;
  border-radius: 25px 25px 0px 0px;
  height: 210px;
  width: 1135px;
  margin: 0;
}

#nav ul
{
  background: gray;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

#nav ul li
{
  display: inline;
  font-size: 30px;
}

#nav ul li:hover
{
  background-color: black;
}

#nav ul li a:hover
{
  color: white;
}

#nav ul li a
{
  color: black;
  text-decoration: none;
}

section
{
  padding:0;
  margin:0;
  overflow: auto;
  background: white;
}

#index_sec_1
{
  border-radius: 0px 0px 25px 25px;
}

#index_sec_1 h1
{
  font-size: 30px;
  text-align: center;
}

#index_sec_1 p
{
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
}

#resume_education, #resume_experience, #resume_skills, #resume_activities, #resume_references
{
  padding-left: 25px;
}

#resume_education h3, #resume_experience h3, #resume_skills h3, #resume_activities h3, #resume_references h3
{
  padding-left: 20px;
}

#resume_education p, #resume_experience p, #resume_skills p, #resume_activities p, #resume_references p
{
  padding-left: 40px;
}

#resume_education ul, #resume_experience ul, #resume_skills ul, #resume_activities ul, #resume_references ul
{
  padding-left: 60px;
}

#resume_references
{
  border-radius: 0px 0px 25px 25px;
}

#aboutme_sec_1
{
  border-radius: 0px 0px 25px 25px;
}

#aboutme_sec_1 img
{
  padding-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutme_sec_1 h1
{
  font-size: 30px;
  text-align: center;
}

#aboutme_sec_1 ul li
{
  padding-left: 25px;
}

iframe 
{
  border: none;
  display: block;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 700px;
}