/*

Author: Jeremy Rashkow
Date: 04/11/2018

Filename: reset.css
*/

/* Set the default page element styles */

  body * {
    font-family: "Times New Roman", Georgia, serif;
    font-size: 100%;
    font-weight: inherit;
    line-height: 1.5em;
    vertical-align: baseline;
    }